* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
}

header, footer, main, article, section, aside, nav {
  display: block;
}

.wrapper {
  background: url(../images/bg-header-mobile.png) no-repeat;
  padding: 70px 30px 0;
}

.wrapper h1, .wrapper h2, .wrapper h3 {
  color: #4c545d;
  text-align: center;
}

.wrapper p {
  color: #9fabb2;
  text-align: center;
  line-height: 1.7em;
}

.wrapper header {
  text-align: center;
  margin-bottom: 150px;
}

.wrapper header img {
  margin-bottom: 50px;
}

.wrapper header p {
  margin: 20px 0 50px;
}

.wrapper header button {
  display: block;
  margin: 15px auto 0;
  color: white;
  width: 90%;
  padding: 15px;
  border: none;
  border-radius: 50px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

.wrapper header button:nth-of-type(1) {
  background: #26baa4;
  -webkit-box-shadow: 0 1px 5px #26baa4;
          box-shadow: 0 1px 5px #26baa4;
}

.wrapper header button:nth-of-type(2) {
  background: #6173ff;
  -webkit-box-shadow: 0 1px 5px #6173ff;
          box-shadow: 0 1px 5px #6173ff;
}

.wrapper main .snippet {
  margin-bottom: 150px;
}

.wrapper main .snippet h2 {
  margin-bottom: 20px;
  padding: 0 20px;
}

.wrapper main .computer {
  margin-bottom: 150px;
}

.wrapper main .computer img {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

.wrapper main .computer .cloud {
  margin: 50px 0;
}

.wrapper main .clipboard {
  margin-bottom: 150px;
}

.wrapper main .clipboard h2 {
  padding: 0 20px;
}

.wrapper main .clipboard p {
  margin: 20px 0 50px;
}

.wrapper main .clipboard img {
  width: 100%;
}

.wrapper main .workflow {
  margin-bottom: 150px;
}

.wrapper main .workflow h2 {
  padding: 20px;
}

.wrapper main .workflow img {
  display: block;
  margin: 50px auto;
}

.wrapper main .workflow .blacklist img {
  margin-top: 100px;
}

.wrapper main .logos {
  margin-bottom: 200px;
}

.wrapper main .logos img {
  display: block;
  margin: 0 auto 70px;
}

.wrapper main .download {
  margin-bottom: 200px;
}

.wrapper main .download h2 {
  padding: 0 20px;
}

.wrapper main .download p {
  margin: 20px 0 50px;
}

.wrapper main .download button {
  display: block;
  margin: 15px auto 0;
  color: white;
  width: 90%;
  padding: 15px;
  border: none;
  border-radius: 50px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

.wrapper main .download button:nth-of-type(1) {
  background: #26baa4;
  -webkit-box-shadow: 0 1px 5px #26baa4;
          box-shadow: 0 1px 5px #26baa4;
}

.wrapper main .download button:nth-of-type(2) {
  background: #6173ff;
  -webkit-box-shadow: 0 1px 5px #6173ff;
          box-shadow: 0 1px 5px #6173ff;
}

footer {
  background: #f3f6f7;
  padding: 50px 20px 20px;
  text-align: center;
}

footer .about {
  margin-bottom: 50px;
}

footer .about img {
  width: 50px;
}

footer .about a {
  color: #4c545d;
  display: block;
  margin: 50px 0;
  font-size: 1.2em;
  text-decoration: none;
}

footer .about a:hover {
  color: #26baa4;
}

footer .social img {
  width: 25px;
  cursor: pointer;
}

footer .social img:nth-of-type(2) {
  margin: 0 30px;
}

footer .social img:hover {
  color: #26baa4;
}

footer .contact {
  font-size: 0.8em;
  color: #4c545d;
}

footer .contact #fspan {
  padding-right: 10px;
  border-right: 1px solid #4c545d;
}

footer .contact #sspan {
  padding-left: 10px;
  border-left: 1px solid #4c545d;
}

footer .contact a {
  color: #26baa4;
  text-decoration: underline;
}

footer .contact a:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .wrapper {
    background: url(../images/bg-header-desktop.png) no-repeat;
    padding: 30px 0 0;
  }
  .wrapper header {
    margin: 70px auto 150px;
    width: 50%;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .wrapper header button {
    display: inline-block;
    width: 40%;
    margin: 0 5px;
  }
  .wrapper main .snippet {
    width: 50%;
    margin: 0 auto 100px;
    padding: 0 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .wrapper main .computer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 4em;
    height: 500px;
    margin-bottom: 100px;
  }
  .wrapper main .computer .image {
    position: relative;
  }
  .wrapper main .computer .image img {
    position: absolute;
    right: 30px;
  }
  .wrapper main .computer .write-up {
    width: 350px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .wrapper main .computer .write-up h2, .wrapper main .computer .write-up p {
    text-align: left;
  }
  .wrapper main .clipboard {
    width: 50%;
    margin: 100px auto 70px;
  }
  .wrapper main .clipboard p {
    padding: 0 40px;
  }
  .wrapper main .workflow {
    padding: 0 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .wrapper main .workflow .info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
  }
  .wrapper main .workflow .info .blacklist img {
    margin-top: 40px;
  }
  .wrapper main .logos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: auto 100px 100px;
  }
  .wrapper main .logos img {
    margin: 0;
  }
  .wrapper main .download {
    width: 50%;
    margin: 150px auto;
    text-align: center;
  }
  .wrapper main .download button {
    display: inline-block;
    width: 40%;
    margin: 0 5px;
  }
  footer {
    padding: 50px 50px 20px;
  }
  footer .about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
  }
  footer .about img {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer .about .updates {
    -ms-grid-column-align: start;
        justify-self: start;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 5em;
  }
  footer .about .updates a {
    display: inline-block;
    margin: 0;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  footer .about .updates a:nth-of-type(2) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  footer .about .updates a:nth-of-type(4) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  footer .about .social {
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer .contact {
    margin-top: 100px;
    font-size: 1em;
  }
}
/*# sourceMappingURL=style.css.map */